{% extends "layout.html" %}
{% block content %}
<section class="u-clearfix u-grey-5 u-section-3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class=" u-text u-text-1">
            <b>Admission and Registration Policy of Hillcrest Secondary School</b>
        </h4>
        <h4 class="u-text u-text-2">Policy Purpose</h4>
        <ul class="u-text u-text-3">
            <li>To meet the objectives of the Bill of Rights.</li>
            <li>Support schools in developing admission policies within the prescripts of national and provincial legislation, including public and private laws.</li>
            <li>Afford all children access to public schools within the prescripts of the law.</li>
            <li>Facilitate the admission of learners in a timely and efficient manner.</li>
            <li>Ensure the lawful administration of learner admission and registration.</li>
            <li>Enable effective teaching and learning to commence on the first day of the school year and the first day of successive school terms.</li>
            <li>And align the admission processes with the WCED CEMIS.</li>
        </ul>
        <h4 class="u-text u-text-4">Admission</h4>
        <ul class="u-text u-text-5">
            <li>No charge fees such as registration fees, re-admission or preadmission testing fees, a deposit at the time of application.</li>
            <li>The academic performance of learners may not determine admission.</li>
            <li>Interviews with parents or learners should not be used for admission except for learners who wish to enter schools with specialist subjects.</li>
        </ul>
        <h4 class="u-text u-text-6">
            <b>Enrolment</b>
        </h4>
        <h4 class="u-text u-text-7">Phase 1:</h4>
        <ul class="u-text u-text-8">
            <li>An application form for admission to the school is completed.</li>
            <li>The school notifies the parent or learner that the application for admission has been successful or unsuccessful.</li>
        </ul>
        <h4 class="u-text u-text-9">Phase 2:</h4>
        <ul class="u-text u-text-10">
            <li>The learner will be registered on the school CEMIS.</li>
        </ul>
        <h4 class="u-text u-text-11">
            <b>Admission Documents</b>
        </h4>
        <ul class="u-text u-text-12">
            <li>Application form.</li>
            <li>Official abridged birth certificate or id document.</li>
            <li>Proof of immunisation.</li>
            <li>Recent original school report.</li>
            <li>An original school transfer letter from the school where the learner is enrolled.</li>
            <li>Non South African citizens also need a temporary or permanent for residence or a study permit.</li>
        </ul>
        <h4 class="u-text u-text-13">
            <b>Registration Documents</b>
        </h4>
        <ul class="u-text u-text-14">
            <li>All learners must be registered at the CEMIS system.</li>
            <li>CEMIS Forms - Learner registration form.</li>
            <li>CEMIS Transfer Certificate</li>
            <li>CEMIS Deregistration Certificate</li>
            <li>All information is written into the admission register.</li>
            <li>Learner Profile</li>
        </ul>
        <p class="u-text u-text-15">
            <b>Online Registration</b> - Parents can also use the online system to apply at the different schools.
        </p>
    </div>
</section>
{% endblock %}