{% extends "layout.html" %}

{% block content %}
<section class="u-align-center u-clearfix u-grey-15 u-section-1 u-image" style="background-image: url({{ url_for('static', filename='images/14.jpg') }});" id="sec-0a66">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Hillcrest Secondary School</h1>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-1 u-image" style="border-radius: 15px; background-image: url({{ url_for('static', filename='images/subject_choice.jpg') }});">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1" >
                        <a class="u-button-style u-black u-btn-1" style="border-radius: 10px;"><h4><b>Subject Choices</b></h4></a>
                        <a href="{{ url_for('subjectchoices') }}" class="u-btn u-button-style u-hover-grey-dark-2 u-black u-btn-1" style="border-radius: 15px;">learn more</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2 u-image" style="border-radius: 15px; background-image: url({{ url_for('static', filename='images/admission_policy.jpg') }})">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <a class="u-button-style u-black u-btn-1" style="border-radius: 10px;"><h4><b>Admission Policy</b></h4></a>
                        <a href="{{ url_for('admissionpolicy') }}" class="u-btn u-button-style u-hover-grey-dark-2 u-black u-btn-2" style="border-radius: 15px;">learn more</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3 u-image" style="border-radius: 15px; background-image: url({{ url_for('static', filename='images/school_fees.jpg') }})">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <a class="u-button-style u-black u-btn-1" style="border-radius: 10px;"><h4><b>School Fees</b></h4></a>
                        <a href="{{ url_for('schoolfees') }}" class="u-btn u-button-style u-hover-grey-dark-2 u-black u-btn-3" style="border-radius: 15px;">learn more</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4 u-image" style="border-radius: 15px; background-image: url({{ url_for('static', filename='images/circulars.jpg') }})">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <a class="u-button-style u-black u-btn-1" style="border-radius: 10px;"><h4><b>Circulars</b></h4></a>
                        <a href="{{ url_for('circulars') }}" class="u-btn u-button-style u-hover-grey-dark-2 u-black u-btn-4" style="border-radius: 15px;">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}