{% extends 'layout.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<script>
    location.reload();
</script>
{% endif %}
<section class="u-align-center u-clearfix u-image u-block-3afb-1" custom-posts-hash="[]" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" data-id="3afb" style="background-image: url({{ url_for('static', filename='images/stacked_books.jpg') }});" data-posts-content="[{'images':[],'maps':[],'videos':[],'icons':[],'textWidth':584,'textHeight':514,'id':1,'headingProp':'h3','textProp':'text'}]" data-style="login-form-3" id="sec-66a0" data-image-width="1280" data-image-height="853" data-block="58" data-block-selected="true">
    <div class="u-clearfix u-sheet u-valign-middle u-block-3afb-2" style="min-height: 1009px;">
        <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-white u-block-3afb-3" style="width: 584px; min-height: 514px; margin: 60px auto;" data-block="37" data-block-type="Group">
            <div class="u-container-layout u-valign-middle u-block-3afb-4" style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px" data-container-layout-dom="6">
                <h3 class="u-text u-text-default u-block-3afb-5" style="font-size: 2.25rem; margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto" data-block="38">Log In</h3>
                <div class="u-expanded-width u-form u-login-control u-block-3afb-6" style="margin-top: 30px; margin-left: 0; margin-right: 0; margin-bottom: 0" data-block="39">
                    <form action="" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-35 u-form-vertical u-inner-form" style="padding: 10px;">
                        {{ form.hidden_tag() }}
                        <div class="u-form-group u-form-name ui-draggable ui-draggable-handle u-block-3afb-7" style="" data-block="40" data-block-type="FormField">
                            {{ form.username.label(class="u-form-control-hidden u-label u-block-3afb-8")}}
                            {{ form.username(class="u-grey-5 u-input u-input-rectangle u-block-3afb-9", placeholder="Enter your Username")}}
                        </div>
                        <div class="u-form-group u-form-password ui-draggable ui-draggable-handle u-block-3afb-10" style="" data-block="41" data-block-type="FormField">
                            {{ form.password.label(class="u-form-control-hidden u-label u-block-3afb-11")}}
                            {{ form.password(class="u-grey-5 u-input u-input-rectangle u-block-3afb-12", placeholder="Enter your Password")}}
                        </div>

                        <div class="u-form-checkbox u-form-group ui-draggable ui-draggable-handle u-block-3afb-13" style="" data-block="42">
                            {{ form.remember(class="checkbox-708d") }}
                            {{ form.remember.label(class="u-label u-block-3afb-14") }}
                        </div>

                        <div class="u-align-center u-form-group u-form-submit u-block-3afb-15" style="" data-block="43">
                            {{ form.submit(class="u-btn u-btn-round u-btn-submit u-button-style u-radius-17 ui-draggable ui-draggable-handle u-block-3afb-16")}}
                        </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style data-mode="XL">
        @media (max-width: 0px) {
            .u-block-3afb-1 {
                background-image: url({{ url_for('static', filename='images/stacked_books.jpg') }})
            }

            .u-block-3afb-2 {
                min-height: 1009px
            }

            .u-block-3afb-3 {
                width: 584px;
                min-height: 514px;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-4 {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 30px;
                padding-right: 30px
            }

            .u-block-3afb-5 {
                font-size: 2.25rem;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-6 {
                margin-top: 30px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0
            }

            .u-block-3afb-16 {
                width: 50%;
                padding-top: 10px;
                padding-right: 31px;
                padding-bottom: 10px;
                padding-left: 29px
            }

            .u-block-3afb-17 {
                border-style: none none solid;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }
        }
    </style>
    <style data-mode="LG">
        @media (max-width: 0px) {
            .u-block-3afb-1 {
                background-image: url({{ url_for('static', filename='images/stacked_books.jpg') }})
            }

            .u-block-3afb-2 {
                min-height: 633px
            }

            .u-block-3afb-3 {
                width: 584px;
                min-height: 514px;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-4 {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 30px;
                padding-right: 30px
            }

            .u-block-3afb-5 {
                margin-top: 0;
                font-size: 2.25rem;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-6 {
                margin-top: 30px;
                margin-bottom: 0
            }

            .u-block-3afb-16 {
                width: 50%;
                padding-top: 10px;
                padding-right: 31px;
                padding-bottom: 10px;
                padding-left: 29px
            }

            .u-block-3afb-17 {
                border-style: none none solid;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }
        }
    </style>
    <style data-mode="MD">
        @media (max-width: 0px) {
            .u-block-3afb-1 {
                background-image: url({{ url_for('static', filename='images/stacked_books.jpg') }})
            }

            .u-block-3afb-2 {
                min-height: 633px
            }

            .u-block-3afb-3 {
                width: 584px;
                min-height: 514px;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-4 {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 30px;
                padding-right: 30px
            }

            .u-block-3afb-5 {
                margin-top: 0;
                font-size: 2.25rem;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-6 {
                margin-top: 30px;
                margin-bottom: 0
            }

            .u-block-3afb-16 {
                width: 50%;
                padding-top: 10px;
                padding-right: 31px;
                padding-bottom: 10px;
                padding-left: 29px
            }

            .u-block-3afb-17 {
                border-style: none none solid;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }
        }
    </style>
    <style data-mode="SM">
        @media (max-width: 0px) {
            .u-block-3afb-1 {
                background-image: url({{ url_for('static', filename='images/stacked_books.jpg') }})
            }

            .u-block-3afb-2 {
                min-height: 613.148px
            }

            .u-block-3afb-3 {
                width: 540px;
                min-height: 514px;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-4 {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-3afb-5 {
                margin-top: 0;
                font-size: 2.25rem;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-6 {
                margin-top: 30px;
                margin-bottom: 0
            }

            .u-block-3afb-16 {
                width: 50%;
                padding-top: 10px;
                padding-right: 31px;
                padding-bottom: 10px;
                padding-left: 29px
            }

            .u-block-3afb-17 {
                border-style: none none solid;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }
        }
    </style>
    <style data-mode="XS">
        @media (max-width: 0px) {
            .u-block-3afb-1 {
                background-image: url({{ url_for('static', filename='images/stacked_books.jpg') }})
            }

            .u-block-3afb-2 {
                min-height: 480.148px
            }

            .u-block-3afb-3 {
                width: 340px;
                min-height: 514px;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-4 {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-3afb-5 {
                margin-top: 0;
                font-size: 1.5rem;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto
            }

            .u-block-3afb-6 {
                margin-top: 30px;
                margin-bottom: 0
            }

            .u-block-3afb-16 {
                width: 50%;
                padding-top: 10px;
                padding-right: 31px;
                padding-bottom: 10px;
                padding-left: 29px
            }

            .u-block-3afb-17 {
                border-style: none none solid;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }
        }
    </style>
</section>
{% endblock %}