{% extends "layout.html" %}
{% block content %}
<section class="u-align-center u-clearfix u-section-4">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1">School Fees 2021: Grade 8-11</h2>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="43.8%" />
                    <col width="56.2%" />
                </colgroup>
                <thead class="u-align-center u-black u-table-header u-table-header-1">
                    <tr style="height: 21px;">
                        <th class="u-align-left u-border-1 u-border-grey-30 u-table-cell u-table-cell-1">Description</th>
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-2">Amount</th>
                    </tr>
                </thead>
                <tbody class="u-align-center u-table-body">
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">School Fees</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R800</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">Compulsory Functions (2xR150)</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R300</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">Total</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R1100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-4">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1">School Fees 2021: Grade 12</h2>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="43.8%" />
                    <col width="56.2%" />
                </colgroup>
                <thead class="u-align-center u-black u-table-header u-table-header-1">
                    <tr style="height: 21px;">
                        <th class="u-align-left u-border-1 u-border-grey-30 u-table-cell u-table-cell-1">Description</th>
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-2">Amount</th>
                    </tr>
                </thead>
                <tbody class="u-align-center u-table-body">
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">School Fees</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R800</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">Compulsory Functions (2xR150)</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R300</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">Motivation (2)</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R200</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">Spring School</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R100</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell">Total</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">R1400</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-6">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-default u-text-1">All School fees must be paid on or before 31 October 2021. The Following payment options can be applied:</p>
        <ul class="u-text u-text-2">
            <li>Monthly payments from January 2021 to 31 October 2021.</li>
            <li>Quarterly payments; or</li>
            <li>Once off payments.</li>
        </ul>
        <p class="u-text u-text-default u-text-3">The following payments methods can be used to pay school fees:</p>
        <ol class="u-text u-text-4">
            <li>Payment at school.</li>
            <li>EFT payment, but no receipt will be provided. (Proof will be at finance clerk.)</li>
        </ol>
        <p class="u-text u-text-default u-text-5">The school's banking details are as follows:'</p>
        <div class="u-table u-table-responsive u-table-1">
            <table class="u-table-entity">
                <colgroup>
                    <col width="50%" />
                    <col width="50%" />
                </colgroup>
                <tbody class="u-table-body">
                    <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Name</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Hillcrest Secondary School</td>
                    </tr>
                    <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Bank</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">ABSA Bank</td>
                    </tr>
                    <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Account Number</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">10-1101-0969</td>
                    </tr>
                    <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Type</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Cheque Account</td>
                    </tr>
                    <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Branch Code</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">632005</td>
                    </tr>
                    <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Reference</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Learner's Name and Surname</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</section>
{% endblock %}
