{% extends "layout.html" %}
{% block content %}
<section class="u-clearfix u-grey-5 u-section-2" id="sec-6558">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-1">Gr 8 &amp; 9</h3>
        <p class="u-large-text u-text u-text-variant u-text-2">The following subjects are compulsary for all learners:</p>
        <ol class="u-text u-text-3">
            <li>
                <span style="font-size: 1rem;">
                    Home Language (Either English, Xhosa or Afrikaans)<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    First Additional Language ( Either English or Afrikaans)<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    Mathematics<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    Natural Sciences<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    Social Sciences (That consist of Geography and History)<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    Technology<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    Economic Management Sciences<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">
                    Life Orientation<br>
                </span>
            </li>
            <li>
                <span style="font-size: 1rem;">Creative Arts</span>
                <br>
            </li>
        </ol>
        <h3 class="u-text u-text-4">Gr 10 - 12</h3>
        <ol class="u-text u-text-5">
            <li>
                Home Language (Either English, Isixhosa or Afrikaans)<br>
            </li>
            <li>
                First Additional Language ( Either English or Afrikaans)<br>
            </li>
            <li>
                Life Orientation<br>
            </li>
        </ol>
        <p class="u-large-text u-text u-text-variant u-text-6">For the remaining three subjects, any of the following combinations: </p>
        <ol class="u-text u-text-7">
            <li>
                Mathematics, Physical Sciences, Life Sciences, History<br>
            </li>
            <li>
                Mathematics, Physical Sciences, Life Sciences, Accounting<br>
            </li>
            <li>
                Mathematics, Business Studies, Economics, Accounting<br>
            </li>
            <li>
                Mathematical Literacy, Business Studies, Economics, Accounting<br>
            </li>
            <li>
                Mathematical Literacy, Business Studies, Tourism, Geography<br>
            </li>
            <li>
                Mathematical  Literacy, Business studies, Tourism, History<br>
            </li>
            <li>
                Mathematical Literacy, Consumer studies, Tourism, History<br>
            </li>
            <li>
                Mathematical Literacy, Life Sciences, Tourism, History<br>
            </li>
        </ol>
    </div>
</section>
{% endblock %}